@import url(./root.css);

/* Album Jumbotron */

.div-album-page {
  background: linear-gradient(
    180deg,
    rgba(166, 58, 134, 0.911) 10%,
    rgba(18, 18, 18, 1) 110%
  );
}

.rounded-img {
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  object-fit: cover;
}

.div-album-page .text-white h4 {
  font-size: 20px;
  font-weight: 800;
}

.div-album-page .text-white h1 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 30px;
  font-weight: 800;
}

.div-album-page .text-white p {
  font-size: 10px;
  font-weight: 200;
}

.div-album-page .text-white span {
  font-size: 10px;
  font-weight: 800;
}

.buttons-wrapper {
  background-color: rgba(5, 5, 5, 0.246);
}

.album-btn {
  display: block;
  margin: auto;
  align-items: center;
  margin-top: 4rem;
  margin-left: 6rem;
}

#play-btn-album {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: green;
  color: white;
  text-align: center;
  border: none;
  margin-right: 15px;
  cursor: pointer;
}

#play-btn-album img {
  margin-top: 15px;
  margin-left: 2px;
}

#play-btn-album ~ i {
  color: white;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 1rem;
}

#dots-btn-album {
  color: white;
  font-size: 30px;
  font-weight: 300;
  margin-left: 15px;
  margin-bottom: 2rem;
}

/* End of Jumbotron*/

/* List */

/* End of List*/

/* Player style */

/* second parent div */
.bg-player {
  /* background-color: var(--bg-cards); */
  background-color: rgb(24, 24, 24);
  color: white;
}

.img-album-player {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-left: 1rem;
}

/* title + song name */
.player-wrapper .bg-player h5 {
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap !important;
  font-size: 10px !important;
  margin-top: 1px !important;
  padding-left: 6px !important;
}

.player-wrapper .artist-name {
  font-size: 9px !important;
  margin-top: 1px !important;
  padding-left: 6px !important;
}

@media (max-width: 768px) {
  .img-album-player {
    width: 30%;
    height: 30%;
    margin-left: 1px;
  }
}

/* heart + screen icons */
@media (max-width: 768px) {
  .bg-player div > .bi {
    display: none;
  }
}

/* play icons in the middle */

@media (max-width: 768px) {
  .controls-middle-player {
    offset: 1col;
  }
}

.controls-player a img {
  width: 10px;
  max-height: 14px;
}

.controls-player a i {
  filter: brightness(60%);
}

.controls-player .play-icon-player {
  color: black;
  background-color: white;
  border: 6px solid white;
  border-radius: 100%;
  width: 10px;
  max-height: 8px;
  margin-right: 2rem;
}

.controls-player div:nth-child(2) {
  margin-top: 1px;
  padding-top: 1rem;
}

.player-part span:first-of-type {
  margin-right: 4px;
  font-size: 8px;
}

.player-part #hr {
  border: 2px solid rgba(128, 128, 128, 0.596);
  min-width: 400px;
  height: 2px;
}

.player-part #hr ~ span {
  margin-left: 4px;
  font-size: 8px;
}

@media (max-width: 768px) {
  .player-part #hr {
    min-width: 200px;
  }
}

#input-player {
  background-color: grey;
  color: grey;
  width: 4rem;
}

.input-wrapper {
  margin-top: 6px;
}

.player-wrapper i {
  opacity: 80%;
}

/* right icons player  */
@media (max-width: 768px) {
  .right-icons-player {
    display: none;
  }
}
/* End of Player style*/
