

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --green: rgb(71, 184, 80);
    --blueFb: rgb(62, 90, 155);
    --grey: rgb(18,18,18);
    --bg-cards: rgb(24,24,24);
    --login-bg:white;
    
}

h1, h2, h3, h4, h5, h6, p, a, span, li {
    font-family: 'Montserrat', sans-serif !important;
}

html,
.container-fluid
{
    background-color: white;
}

.main_wrap{

    margin-left: 35%;
    margin-right: 35%;
}
.container-fluid{
    border-bottom: solid 1px  rgb(214, 211, 211);
}

.login_info{

    
    background-color: white;
}

.fb_btn{
    width: 100%;
    background-color: #3E5A9B;
    margin: auto;
    color: white;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 2px;
}

.apple_btn{
    width: 100%;
    background-color: #000000;
    margin: auto;
    color: white;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 2px;
}

.log_in{
  background-color: var(--green);
  width: 50%;
  color:white;
}


.info_wrap{
    border-top: solid 1px grey;

     margin:0, auto;
}

.container-fluid>.main_wrap> .info_wrap> .forgot{
    border-bottom: solid 1px green;
}